*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
}

button{
    border: 0;
    outline: 0;
}

.adjust{
    position: fixed;
    right: 1em;
    bottom: 1em;
}

.adjust i{
    font-size: 28px;
}

.adjust-check{
    color: #e2e215;
}

.dark-mode {
    background-color: #212121;
    color: #fff;
}
.dark-mode .text-night {
    color: #fff !important;
}

.text-dark{color: #333 !important;}
